description "Dozer init"
start on runlevel [2345]
stop on runlevel [016]
respawn
script
  exec {{ virtualenv_root }}/bin/python {{ src_root }}/robot/master_node.py -c {{ project_root }}/data/dozer.json -p {{src_root}}/robot
end script
